FA_DeOp_WebServicesAutomation/src/test/resources/rtsMockRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="RequestType"/>
                <xs:element name="ClaimDocument">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Claim">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="ClaimNumber"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>